html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: all-round-gothic, sans-serif;
  font-weight: 500;
  font-style: normal;
  background-color: #04756F;
  color: #2E0927;
}

h2 {
  font-family: all-round-gothic, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 44px;
  line-height: 0;
}

h3 {
  font-family: all-round-gothic, sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 12px;
}

/*Section dedicated to music player*/
section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
  /*Music player*/
}

section .container {
  position: relative;
  width: 600px;
  height: 500px;
  background-color: #FF8C00;
  border-radius: 30px;
  -webkit-box-shadow: 0 15px 30px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 0 15px 30px 5px rgba(0, 0, 0, 0.4);
  /*Image container*/
  /* Progress */
  /*Controls*/
}

section .container .image-container {
  width: 300px;
  height: 300px;
  margin: auto;
  margin-top: -2rem;
}

section .container .image-container img {
  margin-top: -2rem;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px;
  -webkit-box-shadow: 0 5px 30px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 30px 3px rgba(0, 0, 0, 0.3);
}

section .container .progress-container {
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 40px 20px;
  height: 4px;
  width: 90%;
}

section .container .progress-container .progress {
  background: #2E0927;
  border-radius: 5px;
  height: 100%;
  /* change this to show progress */
  width: 66%;
  -webkit-transition: width 0.1s linear;
  transition: width 0.1s linear;
}

section .container .progress-container .progress:hover {
  background: #FF2D00;
}

section .container .progress-container .duration-wrapper {
  position: relative;
  top: -25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section .container .player-controls {
  position: relative;
  top: -1rem;
}

section .container .player-controls .fas {
  font-size: 30px;
  margin-right: 15px;
  margin-left: 15px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

section .container .player-controls .main-button {
  font-size: 40px;
  position: relative;
  top: 3px;
}

section .container .player-controls .fas:hover {
  color: #FF2D00;
}

/*Mobile responsive styling*/
@media only screen and (max-width: 800px) {
  h2 {
    font-size: 38px;
  }
  h3 {
    font-size: 24px;
  }
  section .container {
    width: 95vw;
  }
  section .container .image-container {
    width: 65vw;
  }
}
/*# sourceMappingURL=style.css.map */