$brown: #2E0927;
$red: #FF2D00;
$orange:#FF8C00;
$green: #04756F;

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: all-round-gothic, sans-serif;
    font-weight: 500;
    font-style: normal;
    background-color: $green;
    color: $brown;
}

h2 {
    font-family: all-round-gothic, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 44px;
    margin-top: -0.5rem;
}

h3 {
    font-family: all-round-gothic, sans-serif;
    font-weight: 500;
    font-style: normal;
    line-height: 0px;
}

/*Section dedicated to music player*/
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
    /*Music player*/
    .container {
        position: relative;
        width: 450px;
        padding: 0 1rem 1rem 1rem;
        background-color: $orange;
        border-radius: 30px;
        box-shadow: 0 15px 30px 5px rgba(0, 0, 0, 0.4);
        /*Image container*/
        .image-container {
            width: 300px;
            height: 300px;
            margin: auto;
            margin-top: -2rem;
            img {
                margin-top: -2rem;
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: 30px;
                box-shadow: 0 5px 30px 3px rgba(0, 0, 0, 0.3);
            }
        }
        /* Progress */
        .progress-container {
            background: #fff;
            border-radius: 5px;
            cursor: pointer;
            margin: 40px 20px;
            height: 4px;
            width: 90%;
            .progress {
                background: $brown;
                border-radius: 5px;
                height: 100%;
                /* change this to show progress */
                width: 0%;
                transition: width 0.1s linear;
            }
            .progress:hover {
                background: $red;
            }
            .duration-wrapper {
                position: relative;
                top: -25px;
                display: flex;
                justify-content: space-between;
            }
        }
        /*Controls*/
        .player-controls {
            position: relative;
            top: -1rem;
            .fas {
                font-size: 30px;
                margin-right:15px;
                margin-left: 15px;
                cursor: pointer;
                user-select: none;
            }
            .main-button {
                font-size: 40px;
                position: relative;
                top: 3px;
            }
            .fas:hover {
                color: $red;
            }

        }

    }
}

/*Mobile responsive styling*/
@media only screen and (max-width: 800px){
    h2 {
        font-size: 38px;
    }
    h3 {
        font-size: 24px;
    }
    section {
        .container {
            width:95vw;
            .image-container {
                width:65vw;
            }
        }
    }
}
